.header {
    display: flex;
    align-items: center;
    background-color: #5E9295;
    font-size: 1.4rem;
    height: 40px;
    &__content {
    }

    &__list-cities {
    }

    &__menu {
        display: inline-flex;
        gap: 24px;
    }
}

.menu {
    color: #ACD4D6;
    a {
        display: inline-flex;
        gap: 8px;
    }
}
