.menu {
    display: flex;
    height: 113px;
    color: #FFF;
    padding-top: 57px;
    
    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        gap: 12px;
        svg {
            width: 32px;
            height: 32px;
        }
    }

    &__wrapper {
        display: flex;
    }

    &__list {
        display: inline-flex;
        font-size: 1.6rem;
        gap: 32px;
        line-height: 32px;
    }

    &__button {
        margin-left: 32px;
        button {
            height: 30px;
            font-size: 1.4rem;
            padding: 4px 16px;
            border-radius: 4px;
            border: 1px solid var(--white, #FFF);
            line-height: 1.4rem;
        }
    } 
}

.logo span {
    font-size: 2.4rem;
    font-weight: 700;
}